<apicars-toolbar></apicars-toolbar>
<div class="table-container">
    <div class="title-table-container">
        <h1>Listagem dos seus carros</h1>
        <button mat-icon-button matTooltip="Adicionar carro" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="isLoading">
        <div class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!isLoading">
        <apicars-car-table [dataSource]="dataSource"></apicars-car-table>
    </ng-container>
</div>


