.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 8px;

  h1 {
    color: var(--color-primary-light);
    font-weight: bold;
    font-size: 24px;
  }

  .form-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    gap: 16px;

    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 6px;

      width: 100%;

      mat-form-field {
        width: 340px;
      }
    }

    button {
      width: 340px;
      height: 40px;

      background-color: var(--color-primary);
      color: var(--color-background);

      &:disabled {
        background-color: rgba(0, 0, 0, .12);
        color: rgb(0 0 0 / 26%);
      }
    }
  }

  .login {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 4px;
  }
}