<div>
    <apicars-toolbar></apicars-toolbar>
    <div class="card">
        <h1>Registrar</h1>

        <form class="form-container" [formGroup]="registerForm">
            <div>
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Informe seu nome</mat-label>
                    <input matInput formControlName="firstName" autocomplete="off"/>
                    <mat-error *ngIf="registerForm.get('firstName')">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Informe seu sobrenome</mat-label>
                    <input matInput formControlName="lastName" autocomplete="off"/>
                    <mat-error *ngIf="registerForm.get('lastName')">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Informe seu email</mat-label>
                    <input matInput formControlName="email" autocomplete="off" type="email"/>
                    <mat-error *ngIf="registerForm.get('email')">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Informe sua data de nascimento</mat-label>
                    <input matInput formControlName="birthday" autocomplete="off" type="date"/>
                    <mat-error *ngIf="registerForm.get('birthday')">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Informe seu login</mat-label>
                    <input matInput formControlName="login" autocomplete="off"/>
                    <mat-error *ngIf="registerForm.get('login')">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Informe sua senha</mat-label>
                    <input matInput formControlName="password" autocomplete="off" type="password"/>
                    <mat-error *ngIf="registerForm.get('password')">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Informe um número para contato</mat-label>
                    <input matInput formControlName="phone" autocomplete="off" type="tel"/>
                    <mat-error *ngIf="registerForm.get('phone')">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button (click)="register()" [disabled]="submitted">Cadastrar</button>
        </form>
        
        <div class="login">
            <p>Já possui conta?</p>
            <a routerLink="/">Login</a>
        </div>
    </div>
</div>