<mat-toolbar>
  <img src="assets/favicon.png" alt="APICARS logo" width="40px" height="25px"/>
  <span>API CARS</span>
  <span class="spacer"></span>
  <button *ngIf="!isLogged()" mat-button aria-label="login button" matTooltip="Login" (click)="navigateToLogin()">
    Login
  </button>
  <button *ngIf="!isLogged()" mat-button aria-label="register button" matTooltip="Cadastro de usuários" (click)="navigateToRegister()">
    Cadastrar-se
  </button>
  <button mat-button aria-label="users button" matTooltip="Listagem de usuários" (click)="navigateToUsers()">
    Usuários
  </button>
  <button *ngIf="isLogged()" mat-button aria-label="cars button" matTooltip="Listagem dos seus carros" (click)="navigateToCars()">
    Carros
  </button>
  <button *ngIf="isLogged()" mat-icon-button aria-label="Logout icon button" matTooltip="Sair" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>