<mat-toolbar>
  <img src="assets/favicon.png" alt="APICARS logo" width="40px" height="25px"/>
  <span>API CARS</span>
  <span class="spacer"></span>
  <button mat-button aria-label="users button" (click)="navigateToUsers()">
    Usuários
  </button>
  <button *ngIf="isLogged()" mat-button aria-label="cars button" (click)="navigateToCars()">
    Carros
  </button>
  <button *ngIf="isLogged()" mat-icon-button aria-label="Logout icon button" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>