.table-container{
    h1 {
        color: var(--color-primary-light);
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 16px;
    }
    
    gap: 8px;

    padding: 0px 40px;
}