* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    width: 100%;
    background-color: var(--color-background);
    font-family: Roboto, Nunito, sans-serif;
  }
  
  :root {
    --color-background: #ffffff;
    
    --color-primary: #0d47a1;
    --color-primary-light: #3469b8;

    --dark-grey: #333333;
    --light-grey: #808080;
  
    --light-text: #e5e5e5;
    --medium-text: #939393;
  
    --yellow: #FFB612;
    --red: #dc0a17;
    --green: #2FC022;
}

.config-success-snackbar {
  background: var(--dark-grey) !important;
  color: var(--color-background) !important;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 7px;
}

.config-error-snackbar {
  background: var(--red) !important;
  color: var(--color-background) !important;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 7px;
}

.mat-typography {
  p, h1, h2, h3, span, strong {
    margin: 0;
  }
}

.mat-progress-spinner {
  width: 64px !important;
  height: 64px !important;
  
  svg {
    width: 64px !important;
    height: 64px !important;
  }

  circle {
    stroke: var(--color-primary);
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}