* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    width: 100%;
    background-color: var(--color-background);
    font-family: Roboto, Nunito, "Helvetica Neue", sans-serif;
  }
  
  :root {
    --color-background: #ffffff;
    
    --color-primary: #730004;
    --color-primary-light: #af242a;

    --dark-grey: #333333;
    --light-grey: #808080;
  
    --light-text: #e5e5e5;
    --medium-text: #939393;
  
    --yellow: #FFB612;
    --red: #dc0a17;
    --green: #2FC022;
}